//- Needs {error} or {formattedLog, numberOfCommits, requiresDeps, requiresRestart}

doctype html
html
	head
		title Updater | Bibliogram
		include includes/head
	body.updater-page
		if error
			h1 Aw man.
			div= error
		else
			h1 Bibliogram updater
			if numberOfCommits > 0
				div You are #{numberOfCommits} #{numberOfCommits === 1 ? "commit" : "commits"} behind (most recent first):
				div.commits
					each line in formattedLog
						div.commit
							code.hash= line.hash
							span.message= line.message
				div
					if requiresDeps
						span.attention You must run #[code npm install] after pulling.
					else
						span No changes to dependencies.
				div
					if requiresRestart
						span.attention You must restart Bibliogram after pulling.
					else
						span You do not need to restart Bibliogram after pulling.
			else
				div You are running the latest version. Hurrah!
