//- Needs website_origin, instancesURL, username, expiresMinutes?

include includes/error.pug

doctype html
html#bibliogram-identifier-blocked
	head
		title= `Blocked | Bibliogram`
		include includes/head
		script(src=getStaticURL("html", "/static/js/user_available_waiter.js") type="module")
	body
		div(data-username=username)#data
		.error-page
			h1.code 503
			p.message Blocked by Instagram
			p.explanation
				| Instagram is temporarily refusing to provide data to this server.

			div#dynamic-status-area

			.width-block
				p If you use Mac or Linux, you can unblock this profile now! Run this in your favourite terminal:
				pre curl -Ss #{website_origin}/u/#{username}/unblock.sh | $SHELL
				ul
					li To learn more, #[a(href="https://github.com/cloudrac3r/bibliogram/wiki/Rate-limits") read about blocking.]
					li You may be able to avoid this by #[a(href="https://github.com/cloudrac3r/bibliogram/wiki/Instances") browsing on another instance.]
					li It's good to read scripts to see what they do. #[a(href=`${website_origin}/u/${username}/unblock.sh`) Read ./unblock.sh]

			a(href="/").back ↵ Return home
