//- Needs rssEnabled, allUnblocked, torAvailable, hasPrivacyPolicy, onionLocation

- const ll = lang.get(settings.language)

doctype html
html
	head
		title Bibliogram
		include includes/head
	body.homepage
		header
			h1.banner
				img.banner-image(src="/static/img/banner-min.svg" alt="Bibliogram")

		.go-sections-container(dir=ll.meta_direction)
			.go-sections
				section
					h2.title= ll.go_to_profile
					form(method="get" action="/u" class=`dir-${ll.meta_direction}`).pair-entry
						input(type="text" name="u" placeholder=ll.go_username_or_url).text
						input(type="submit" value=ll.go_button).button
				section
					h2.title= ll.go_to_post
					form(method="get" action="/p" class=`dir-${ll.meta_direction}`).pair-entry
						input(type="text" name="p" placeholder=ll.go_shortcode_or_url).text
						input(type="submit" value=ll.go_button).button

		.about-container(dir=ll.meta_direction)
			section.about
				h2= ll.about_bibliogram_header
				!= ll.pug_about_bibliogram_content({link_to_featured_profiles: constants.featured_profiles.length})

			.notice
				section.about
					h2= ll.experiencing_problems_header
					p: a(href="https://lists.sr.ht/~cadence/bibliogram-announce/%3C20201218014302.855fa8a816be2f19da2f56e3%40disroot.org%3E")= ll.t_read_more_here

			section.about
				h2= ll.about_this_instance_header
				ul
					if onionLocation
						li: a(href=onionLocation)= ll.onion_site_available
					li: a(href=settingsReferrer)= ll.t_settings
					if hasPrivacyPolicy
						li: a(href="/privacy")= ll.t_privacy_policy
					else
						li= ll.has_not_written_privacy_policy
					if allUnblocked
						li= ll.instance_not_blocked
					else
						li: a(href="https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instagram%20rate%20limits.md#tldr-what-does-it-mean-if-an-instance-is-blocked")= ll.instance_partially_blocked
					if rssEnabled
						li= ll.rss_enabled
					else
						li= ll.rss_disabled

				h2= ll.external_links_header
				ul
					-
						const links = [
							["https://sr.ht/~cadence/bibliogram/", ll.source_link, "noopener noreferrer"],
							["https://matrix.to/#/#bibliogram:matrix.org", ll.matrix_link, "noopener noreferrer"],
							["https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md", ll.instances_link, "noopener noreferrer"],
							["https://cadence.moe/about/contact", ll.contact_link, "noopener noreferrer"]
						]
					each entry in links
						li: a(href!=entry[0] target="_blank" rel=entry[2])= entry[1]

				if constants.featured_profiles.length
					.featured-profiles#featured-profiles
						h2.featured-profiles-header= ll.featured_profiles_header

						table.featured-profile-table
							tbody
								each profile in constants.featured_profiles
									tr
										td.username: a(href=`/u/${profile.username}`) @#{profile.username}
										td= profile.description

						details
							summary= ll.featured_profiles_whats_this
							.details-content!= ll.html_featured_profiles_disclaimer
