//- Needs rssEnabled, allUnblocked, torAvailable, hasPrivacyPolicy, onionLocation

doctype html
html
	head
		title Bibliogram
		include includes/head
	body.homepage
		header
			h1.banner
				img.banner-image(src="/static/img/banner-min.svg" alt="Bibliogram")

		.go-sections-container
			.go-sections
				section
					h2.title Go to profile
					form(method="get" action="/u").pair-entry
						input(type="text" name="u" placeholder="Username or URL").text
						input(type="submit" value="Go").button
				section
					h2.title Go to post
					form(method="get" action="/p").pair-entry
						input(type="text" name="p" placeholder="Shortcode or URL").text
						input(type="submit" value="Go").button

		.about-container
			section.about
				h2 About Bibliogram
				p.
					Bibliogram is a website that takes data from Instagram's public profile views and puts it into
					a friendlier page that loads faster, gives downloadable images, eliminates ads,
					generates RSS feeds, and doesn't urge you to sign up. #[a(href=(constants.featured_profiles.length ? "#featured-profiles" : "/u/instagram")).example-link See an example.]
				p.
					Bibliogram does #[em not] allow you to anonymously post, like, comment, follow, or view private profiles.
					It does not preserve deleted posts.

				h2 About this instance
				ul
					if onionLocation
						li: a(href=onionLocation) Onion site available
					li: a(href=settingsReferrer) Settings
					if hasPrivacyPolicy
						li: a(href="/privacy") Privacy policy
					else
						li Owner has not written a privacy policy
					if allUnblocked
						li Instance is not blocked
					else
						li: a(href="https://github.com/cloudrac3r/bibliogram/wiki/Rate-limits#tldr-what-does-it-mean-if-an-instance-is-blocked") Instance is partially blocked
					li RSS feeds are #{rssEnabled ? "enabled" : "disabled"}

				h2 External links
				ul
					-
						const links = [
							["https://sr.ht/~cadence/bibliogram/", "Code on sourcehut", "noopener"],
							["https://matrix.to/#/#bibliogram:matrix.org", "Discussion room on Matrix"],
							["https://git.sr.ht/~cadence/bibliogram-docs/tree/master/docs/Instances.md", "Other Bibliogram instances", "noopener"],
							["https://github.com/cloudrac3r/bibliogram/projects/1?fullscreen=true", "Project roadmap"],
							["https://cadence.moe/about/contact", "Contact the developer"]
						]
					each entry in links
						li: a(href!=entry[0] target="_blank" rel=(entry[2] || "noopener noreferrer"))= entry[1]

				if constants.featured_profiles.length
					.featured-profiles#featured-profiles
						h2.featured-profiles-header Featured profiles

						table.featured-profile-table
							tbody
								each profile in constants.featured_profiles
									tr
										td.username: a(href=`/u/${profile.username}`) @#{profile.username}
										td= profile.description

						details
							summary What's this?
							.details-content
								p The owner of this website personally thinks that these profiles are interesting.
								p These are not endorsements from the Bibliogram project.
