mixin next_page_button(user, selectedTimeline, url, type)
	if selectedTimeline.hasNextPage()
		div.next-page-container#next-page-container
			-
				const nu = new URL(url)
				nu.searchParams.set("page", selectedTimeline.pages.length+1)
			a(
				href=`${nu.search}#page-${selectedTimeline.pages.length+1}`
				data-page=(selectedTimeline.pages.length+1)
				data-username=(user.data.username)
				data-type=type
				data-loading-text=ll.next_page_button_loading
			)#next-page.next-page= ll.next_page_button
	else
		div
			div.page-number.no-more-pages
				span.number= ll.no_more_posts_notice
